<ul class="nav nav-tabs">
  <li>
      <a href="/admin/">管理首页</a>
  </li>
  <li>
      <a href="/admin/banners">banner设置</a>
  </li>
  <li>
      <a href="/admin/images">images上传</a>
  </li>
  <li>
      <a href="/admin/news">学习记录</a>
  </li>
  <li>
      <a href="/admin/companyHistory">公司历程</a>
  </li>
  <li>
      <a href="/admin/industryconsulting">其他记录</a>
  </li>
  <li>
      <a href="/admin/product">产品服务</a>
  </li>
  <li>
      <a href="/admin/navname">一级导航名</a>
  </li>
</ul>